# Core dependencies
gradio==5.23.1
gradio_client==1.8.0
qwen-omni-utils==0.0.4
librosa==0.11.0
ffmpeg==1.4
ffmpeg-python==0.2.0
soundfile==0.13.1
modelscope_studio==1.2.2
git+https://github.com/BakerBunker/transformers@21dbefaa54e5bf180464696aa70af0bfc7a61d53
accelerate
av

# Optional dependency
# Uncomment the following line if you need flash-attn
# flash-attn==2.7.4.post1
